<template>
	<div class="my-3 p-3 bg-body rounded shadow-sm">
		<div class="row" v-if="active == 'FORM'">
			<form class="needs-validation was-validated" novalidate>
				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input type="text" class="form-control" v-model="form.nombre" :required="!errors.nombre">
					<div class="invalid-feedback">
						<span v-for="(row, index) in errors.nombre" :key="index">{{row}}</span>
					</div>

				</div>
				<div class="mb-3">
					<label for="Descripcion" class="form-label">Descripción</label>
					<textarea class="form-control" rows="3" v-model="form.descripcion" :required="!errors.descripcion"></textarea>
					<div class="invalid-feedback">						
						<span v-for="(row, index) in errors.descripcion" :key="index">{{row}}</span>
					</div>
				</div>
				<div class="mb-3">
					<label for="nombre" class="form-label">Precio</label>
					<input type="text" class="form-control" v-model="form.precio" v-mask="'####.##'" :required="!errors.precio">
					<div class="invalid-feedback">
						<span v-for="(row, index) in errors.precio" :key="index">{{row}}</span>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" @click.prevent="_store()">Guardar</button>
				<button type="submit" class="btn btn-danger" @click.prevent="_clearForm()" >Cancelar</button>
			</form>
		</div>
		<div class="row" v-else>
			<div class="col-sm-2">
				<button type="button" class="btn btn-success" @click="_showForm()">
					<i class="fa-solid fa-plus"></i> Agregar
				</button>
			</div>
			<div class="col-sm-10">
				<div class="input-group input-group-sm">
					<span class="input-group-text">Precio de</span>
  					<input type="text" aria-label="First name" class="form-control" v-model="params.pricemin">
					<span class="input-group-text"> a </span>					
  					<input type="text" aria-label="Last name" class="form-control" v-model="params.pricemax">
					<span class="input-group-text"> Buscar:  </span>
					<input type="text" class="form-control" v-model="params.search" @keyup.enter="_getProducts()">
					<button class="btn btn-secondary" type="button" @click="_getProducts()">Buscar</button>
					<button class="btn btn-secondary" type="button" @click="_getClear()">Limpiar</button>
				</div>
				<div class="input-group input-group-sm p-2">
				
				</div>
			</div>

			<div class="row text-center" v-if="loading">
				<i class="fa-solid fa-spinner fa-spin fa-9x"></i>
			</div>
			<div class="row row-cols-1 row-cols-md-3 g-4" v-else>
				<div class="col" v-for="(row) in rows.data" :key="row.id" >
					<div class="card h-100">
						<img src="https://www.freepik.com/free-photo/young-attractive-happy-woman-dancing-turning-around-by-sea-beach-sunny-summer-fashion-style_13361787.htm#query=freedom&position=0&from_view=keyword&track=sph" class="card-img-top" alt="">
						<div class="card-body">
							<h5 class="card-title text-center"><span v-html="row.nombre"></span></h5>
							<p class="card-text"><small class="text-muted">Descripción</small></p>
							<p class="card-text" v-html="row.descripcion"></p>
						</div>
						<div class="card-footer text-end">
							$ <small class="text-muted" v-html="row.precio"></small>
						</div>
					</div>
				</div>
			</div>


			<div class="p-4 col">
				<nav aria-label="Page navigation col-md-8" v-if="Object.keys(rows).length">
					<ul class="pagination">
						<li class="page-item" v-for="(li, index) in rows.links" :key="index" :class="{ disabled: !li.url}">
							<a class="page-link" href="#" :class="{ active: li.active}" @click="_getPaginate(li)" v-html="_getPaginateLabel(li.label)">
								
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#" disabled >{{ rows.total }}</a></li>
					</ul>
				</nav>
			</div>



		</div>
	</div>
</template>
<script>
	
	export default {
        mounted() {
        	this._getProducts();
        },
        components:{
        },
        data() {
            return {
				loading: false,
				form: {
					nombre: '',
					descripcion: '',
					precio: '',					
				},
				errors:{},
            	rows:[],
                params: {
                    search: '',
					pricemin: '',
					pricemax: '',
                    page: 1
                },
				active: "TABLE",
            }
        },
        methods: {
			_getProducts(page=1){
				let le = this;
                le.loading = true;
                le.params.page = page;
				axios.get( routeBase+'/api/productos',{ params: le.params })
				.then(function(res){
					le.rows = res.data;
					le.loading = false;
				});
			},
            _getPaginate: function(row){
                let page = (row.url.split('=').length)? row.url.split('=')[1] : 1;                
                this._getProducts(page);
                localStorage.setItem('page', page);
            },
            _getPaginateLabel(label){
                switch (label) {
                    case 'pagination.next':
                        return 'Siguiente'                        
                    case 'pagination.previous':
                        return 'Anterior'                
                    default:
                        return label
                }
            },
			_getClear(){
				let le = this;
				le.params.search = le.params.pricemin = le.params.pricemax = "";
				le._getProducts();
			},
			_showForm(){
				let le = this;
				le.active = "FORM";
			},
			_clearForm(){
				let le = this;
				le.form.nombre = "";
				le.form.descripcion = "";
				le.form.precio = "";
				le.active = "";
			},
			_store(){
				let le = this;
				let dataString = le.form;
				axios.post( routeBase+'/api/producto', dataString)
				.then(function(r){
					le._clearForm();
					le._getProducts();
				})
				.catch((e) => le.errors = e.response.data);
			}
        }        
    }
</script>
<style>
input.some-input {flex: 0 1 100px;}
</style>